.create-ride-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Full height for vertical centering */
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

.create-ride-form {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 12px;
  box-shadow: 0 8px 30px rgba(0, 0, 0, 0.1);
}

.create-ride-form input,
.create-ride-form select,
.create-ride-form button {
  width: 100%;
  margin: 10px 0;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 16px;
}

.create-ride-form button {
  background-color: #570c27;
  color: #ffffff;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.create-ride-form button:hover {
  background-color: #780f36;
}
