/* LoginScreen.css */
.login-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f4f4f9;
  }
  
  .login-title {
    font-size: 30px;
    margin-bottom: 20px;
  }
  
  .login-form {
    background-color: #fff;
    padding: 30px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    font-size: 14px;
    font-weight: bold;
  }
  
  input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .form-buttons {
    text-align: center;
  }
  
  .login-button {
    background-color: #570c27;
    color: white;
    border: none;
    padding: 12px 20px;
    font-size: 18px;
    cursor: pointer;
    border-radius: 5px;
    width: 100%;
  }
  
  .login-button:hover {
    background-color: #650f34;
  }
  
  .signup-link, .forgot-password-link {
    color: #570c27;
    text-decoration: none;
    font-size: 14px;
  }
  
  .signup-link:hover, .forgot-password-link:hover {
    text-decoration: underline;
  }
  